@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100&display=swap');

$primarycolor: #0C70F2;
$secondaryColor: #2D2D2D;
$primaryColorText: #FFFFFF;
$secondaryColorText: #000000;
$generalFont: 'Poppins', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
$italicFont:'Raleway', italic ; 