@use '../../sass/variables' as *;



.task {
  color: $primaryColorText;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding-left: 25%;
  padding-right: 25%;
  max-width: 685px;
  width: 100%; // Adicionado para garantir largura total se a tela for menor que 685px.

 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
    font-family: $secondaryFont;
    font-weight: 600;
    margin-bottom: 10px;
  }

  input {
    background-color: transparent;
    color: $primaryColorText;
    border: none;
    font-size: 25px;
  }

  input::placeholder {
    color: $primaryColorText;
    font-family: $italicFont;
    font-weight: 400;
  }

  button {
    background-image: url('cruz.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 38px;
    border: none;
    cursor: pointer;
  }

 

  &__barra-horizontal {
    align-items: center;
    
    
  }

  &__renderItem{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    font-family: $secondaryFont;
  }

  &__icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 19%;
    align-items: center;
    position: absolute;
  }
  &__checkbox{
    margin-right: 190px;
    

  }
  &__extra{
    display: flex;
    gap: 10px;
  }

  &__renderList{
    display: flex;
    align-items: center;
    padding-left: 70px;
    position: absolute;
  }
  
  &__cruz{
    margin-left: 180px;
  }
  

  
}
